$color-primary: #008aa6;
$color-secondary: #005162;
$color-tertiary: #bedb4a;
$color-neutral: #666;
$color-success: #0fde62;
$color-failure: #901e0a;

$color-bg-dark: #003836;
$color-bg-light: #deebe8;

$color-fg-dark: #005954;
$color-fg-light: #ffeec6;

$color-border-light: #008aa6;
$color-border-dark: #005162;

// Should these be here? maybe just use the color variables
$button-bg-dark: #e3a13d;
$button-bg-dark-hover: #0056b3;
